
@{
    ViewData["Title"] = "About";
}

<h1>O mnie</h1>

<p>
    Witam was na mojej stronie, jestem Homer Simpson ojciec trójki dzieci, pracuję w elektrowni jądrowej w Springfield więc daję ludziom prąd :)
    Lubię jeść pączki i oglądać telewizję, mógłbym tak całymi dniami i każdą chwilę przeznaczam na te zajęcie. Mam sporą kolekcję filmów,
     i tu wybierając zakładkę filmy zobaczycie całą listę wraz z cenami.
</p>

<div class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Homer_Simpson_2006.png" alt="Brak obrazka" />
</div>