@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witam na mojej stronie</h1>
    <p>Strona ta jest przeznaczona do nauki tworzenia aplikacji Web z użyciem ASP.NET Core</p>
    <img src="https://image.ceneostatic.pl/data/products/20077534/p-the-simpsons-homer-reprodukcja.jpg" alt="Brak obrazka" />
</div>
